$primary-color: #9b7cb7;
$secondary-color: #4a4a4a;
$font-size-regular: 14px;
$font-size-small: 12px;
$padding-medium: 20px;
$border-radius-small: 4px;
$border-radius-large: 8px;
$box-shadow2: 1px 2px 20px rgba(0, 0, 0, 0.2);

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --font-size-regular: #{$font-size-regular};
  --font-size-small: #{$font-size-small};
  --padding-medium: #{$padding-medium};
  --border-radius-small: #{$border-radius-small};
  --border-radius-large: #{$border-radius-large};
  --box-shadow2: #{$box-shadow2};
}
